*/*/EWARMv6/STM32F407IGT6/
*/*/EWARMv6/STM32F407IGT6/Exe
*/*/EWARMv6/STM32F407IGT6/List
*/*/EWARMv6/settings/EFI.CPU.wsdt

*/*/EWARMv6/BOOTLOADER/
*/*/EWARMv6/BOOTLOADER/Exe
*/*/EWARMv6/BOOTLOADER/List

*.dep
*.wsdt
./.svn/**
.vscode
.vscode/c_cpp_properties.json
c_cpp_properties.json
*.map
*.hex
*.html
*.cspy.*
*.crun
*.dbgdt
*.dnx
*.dni
# Prerequisites
*.d

!STM32-BOOTLOADER.hex
!OLED_EFICPU.hex

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
STM32F4xx_StdPeriph_Driver/Release_Notes.html
